html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
	box-sizing: border-box;
}

body {
	background: #c8c6b1;
	font: 10px "minion-pro", serif;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.top .container {
	max-width: 750px;
}

.nav a {
	font-size: 1.8em;
	color: #0f0f0b;
	text-transform: uppercase;
	font-weight: 500;
}

.nav a:hover {
	border-color: #0f0f0b;
}

.lightblue {
	color: #b1ecdf;
}

.top {
	background: url(/images/top.jpg) top center no-repeat;
	background-size: contain;
	height: 60vw;
	font-family: "futura-pt-condensed", sans-serif;
	max-height: 600px;
}
.top-credits {
	padding-bottom: 3em;
}
.top-credits p {
	text-align: center;
	font-family: "futura-pt-condensed", sans-serif;
	margin-top: -3em;
	font-size: 1.6em;
	color: #4b4d44;
	line-height: 1.3em;
}
.top-credits .largest {
	font-size: 1.7em;
}
.top-credits .larger {
	font-size: 1.4em;
}
.top-credits .score {
	color: #141411;
}

.top-credits h1 {
	display: none;
}
.syn, .credits {
	background: #fff;
	padding: 9em 0 9em 0;
}
.about-jeremy-text {
	padding: 9em 0 9em 0;
}
.trailer {
	padding: 2em 0 2em 0;
	/*
	background: #000 url(/images/trailer.jpg) top center no-repeat;
	background-size:cover;
	*/
	text-align: center;
}
.trailer .vimeo {
	width: 100%;
}
.trailer .button {
	color: #fff;
	font-size: 20em;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	margin-top: .3em;
}
.trailer.play .button-wrap {
	display: none;
}
.trailer .vimeo {
	display: none;
}
.trailer.play .vimeo {
	display: block;
}
.syn p, .about-jeremy-text p {
	font-size: 1.9em;
	line-height: 1.7em;
}

.credits p {
	font-size: 1.5em;
}

.about-loic .left, .about-loic .right {
	width: 49%
}
.about-loic {
	background: #fff;
	padding: 4em 0 4em 0;
}
.about-loic .about.left p {
	font-size: 1.5em;
	line-height: 1.8em;
}
.about-loic .about.right p {
	font-size: 1.2em;
	color: #626262;
	line-height: 1.8em;
}

.about-loic h4 {
	color: #626262;
	font-size: 1.9em;
	font-weight: bold;
}

.about-loic img {
	height: 200px;
	margin-bottom: 1em;
}

.credits .left {
	max-width: 440px;
}
.credits .right {
	border: 1px solid black;
	padding: 1em;
}

section {
	width: 100%;
}

.gallery {
	/*
	background: #000;
	background: #000 url(/images/gallery001.jpg) top center no-repeat;
	background-size:cover;
	*/
	text-align: center;
}

.divider {
	clear: both;
}

.about-jeremy-pic {
	/*
	background: url(/images/jeremy.jpg) top center no-repeat;
	background-size:cover;

	*/
	text-align: center;
}

.about-jeremy-pic h2 {
	font-family: "minion-pro-condensed-subhead",sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 11.5em;
}

.about-loic .links {
	margin-top: 2em;
}

.about-loic .links a {
	color: #999787;
	font-size: 1.9em;
}

.about-jeremy-text .links {
	margin-top: 4em;
}

.about-jeremy-text .links a {
	color: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

.paintings {
	margin-top: 2em;
}

.paintings img {
	height: 275px;
}

.about-loic h2 {
	font-family: "minion-pro-condensed-subhead",sans-serif;
	color: #c8c6b1;
	font-weight: bold;
	font-size: 11.5em;
	text-align: right;
	line-height: .7em;
	margin-bottom: .2em;
}

b {
	font-weight: bold;
}

.top p {
	vartical-align: bottom;
}

.loader {
	background: #c8c6b1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: 2.4s all ease;
}

.wrapper {
	display: none;
}

.loaded .wrapper {
	display: block;
}

.loaded .loader {
	opacity: 0;
	pointer-events: none;
}

.ost {
	/*
	background: url(/images/ostbg.jpg) top center no-repeat;
	background-size:cover;
	*/
	min-height: 90vw;
	text-align: center;
	padding: 75em 0 2em 0;
}

.ost img {
	width: 35em;
}


.credits-flare .dck {
	background: url(/images/credits-dck.jpg) no-repeat;
	background-size: contain;
	height: 7em;
	width: 28.1em;
	margin-left: -1em;
	margin-top: -13em;
}
.credits-flare .asm {
	background: url(/images/credits-asm.jpg) no-repeat;
	background-size: contain;
	height: 9.7em;
	width: 100%;
}
.credits-flare .paint {
	background: url(/images/credits-paint.jpg) no-repeat;
	background-size: contain;
	width: 100%;
	height: 33em;
}

.about-jeremy-pic .end {
	width: 100%;
	display: none;
}





@media screen and (min-width: 481px) {

	.ost a:hover {
		border-bottom: 0;
	}
	
	a {
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: .4s all ease;
	}

	a:hover {
		border-color: #fff;
	}
	
	.credits .right {
		max-width: 240px;
	}

	.about-jeremy-pic h2 {
		position: absolute;
		margin-top: -.38em;
	}
	.gallery {
		height: 100vw;
	}
	.about-jeremy-pic {
		height: 80vw;
	}
	
	.trailer {
		height: 450px;
	}
	
	.nav {
		float: right;
		margin-top: 10em;
	}
	
	.trailer .vimeo {
		height: 400px;
	}

}

@media screen and (max-width: 480px) {
	body {
		font-size: 7px;
	}

	.ost {
		padding: 3em;
		background: #c8c6b1;
		margin-bottom: 4em;
	}

	.ost .container {
		width: 100%;
	}

	.ost img {
		width: 100%;
	}

	.left, .right {
		float: none !important;
		width: 100% !important;
	}

	.container {
		padding: 2em;
	}

	.about-loic h2, .about-jeremy-pic h2 {
		font-size: 6.4em;
	}
	.about-loic h2 {
		margin-bottom: .5em;
		line-height: .9em;
	}

	.about-loic img {
		width: 100%;
	}

	.about-loic .about.left p, .about-loic .about.right p, .credits p {
		font-size: 1.9em;
		line-height: 1.7em;
	}
	
	.about-loic .links a {
		font-size: 2.2em;
		line-height: 1.9em;
	}
	
	.about-jeremy-text .links a {
		font-size: 1.2em;
		line-height: 1.9em;
	}
	
	.syn, .about-loic {
		padding: 2em 0 2em 0;
	}
	
	.credits, .about-jeremy-text {
		padding: 2em 0 0 0;
	}
	
	.paintings img.right  {
		padding-top: 1.7em;
	}
	
	.credits .left {
		margin-bottom: 4em;
	}
	.gallery {
		height: 100vh;
	}
	.about-jeremy-pic {
		height: 100vh;
	}
	
	.credits-flare .dck {
		margin-top: -8em;
		margin-left: -2em;
		border-left: 1em solid #fff;
		height: 6em;
	}
	
	.credits-flare .paint {
		height: 29em;
	}
	
	.credits-flare .asm {
		height: 7em;
	}
	
	.paintings img {
		height: auto;
	}
	
	.nav {
		text-align: center;
		margin-top: -11em;
	}
	
	.nav li {
		display: table-cell;
		width: 16%;
	}
	
	.nav ul {
		text-align: center;
		width: 100%;
		display: table;
	}

	li:before {
		content: " \00a0 ";
	}	
	.nav-pad {
		height: 6em;
		background: #000;
	}
	
	.nav a {
		font-size: 2em;
		text-decoration: none;
		font-weight: normal;
		color: #c8c6b1;
	}
	
	.top {
		margin-top: 5em;
	}
	
	.hide-mobile {
		display: none;
	}
	
	.top-credits {
		padding-top: 3em;
	}
	
	.trailer .button-wrap {
		width: 100%;
		text-align: center;
		display: table;
		height: 100%;
	}
	
	.trailer .button {
		font-size: 15em;
		width: 100%;
    	margin: 0;
    	display: table-cell;
		vertical-align: middle ;
		text-align: center;
	}
	
	.trailer {
		height: 60vw;
		padding: 0;
	}
	
	.trailer .vimeo {
		height: 60vw;
	}
	
	.trailer .container {
		padding: 0;
		height: 100%;
	}
	
	.trailer .video {
		height: 100%;
	}

}


.track {
	display: none;
}