html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: #c8c6b1;
	font: 10px "minion-pro", serif;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: .4s all ease;
}

a:hover {
	border-color: #fff;
}

.nav a {
	font-size: 1.2em;
	color: #0f0f0b;
	text-transform: uppercase;
	display: block;
}

.nav a:hover {
	border-color: #0f0f0b;
}


.nav {
	float: right;
}
.lightblue {
	color: #b1ecdf;
}

.top {
	background: url(/images/top.jpg) top center no-repeat;
	background-size: contain;
	height: 50vw;
	font-family: "futura-pt-condensed", sans-serif;
	max-height: 600px;
}
.syn, .credits {
	background: #fff;
	padding: 9em 0 9em 0;
}
.about-jeremy-text {
	padding: 9em 0 9em 0;
}
.trailer {
	padding: 2em 0 2em 0;
	background: #000 url(/images/trailer.jpg) top center no-repeat;
	background-size:cover;
	text-align: center;
	height: 450px;
}
.trailer .vimeo {
	width: 100%;
	height: 400px;
}
.trailer .button {
	color: #fff;
	font-size: 20em;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	margin-top: .3em;
}
.trailer.play .button {
	display: none;
}
.trailer .vimeo {
	display: none;
}
.trailer.play .vimeo {
	display: block;
}
.trailer .video {

}
.syn p, .about-jeremy-text p {
	font-size: 1.9em;
	line-height: 1.7em;
}

.credits p {
	font-size: 1.5em;
}

.about-loic .left, .about-loic .right {
	width: 45%
}
.about-loic .left p {
	font-size: 1.5em;
}
.about-loic .right p {
	font-size: 1.2em;
	color: #626262;
}

.about-loic img {
	height: 200px;
}

.credits .left {
	max-width: 440px;
}
.credits .right {
	max-width: 240px;
	border: 1px solid black;
	padding: 1em;
}

section {
	width: 100%;
	box-sizing: border-box;
}

.gallery .image {

}

.gallery {
	background: #000;
	background: #000 url(/images/gallery001.jpg) top center no-repeat;
	background-size:cover;
	height: 80vw;
	text-align: center;
}

.divider {
	clear: both;
}

.about-jeremy-pic {
	background: url(/images/jeremy.jpg) top center no-repeat;
	background-size:cover;
	height: 80vw;
	text-align: center;
}

.about-jeremy-pic h2 {
	font-family: "minion-pro-condensed-subhead",sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 11.5em;
	display: block;
	position: absolute;
	margin-top: -.38em;
}

.links a {
	color: #fff;
}

.about-jeremy-text .links {
	margin-top: 4em;
}

.left {
	float: left;
}

.right {
	float: right;
}

.paintings {
	margin-top: 2em;
}

.paintings img {
	height: 275px;
}

.about-loic h2 {
	font-family: "minion-pro-condensed-subhead",sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 11.5em;
	text-align: right;
	line-height: .7em;
}